body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, Monaco, Menlo, "Ubuntu Mono",
    Consolas, source-code-pro, monospace;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background-color: #3a3d41;
}
$bgColor: #3a3d41;
$hackerGreen: #66ff00;
$propNameBlue: #9cdcfe;
$wordColor: #c586c0;
$varColor: #9cdcfe;
$unusedVarColor: #9cdcfea0;
$stringColor: #ce9178;
$commentColor: #6a9955;
$declarationColor: #569cd6;
$functionNameColor: #dcdcaa;
$classNameColor: #4ec9b0;
$numberColor: #b5cea8;
$coreSyntaxColor: #d4d4d4;
$highLight: #6699cc85;
$backgroundMain: #1f1f1f;

* {
  box-sizing: border-box;
  outline: none;
}
//layout
#root {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  .traffic-panel,.action-panel {
      vertical-align: top;
      position: relative;
      height: calc(100vh - 30px);
      width: 50vw;
      display: inline-block;
      .log,.targets {
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        max-width: 100%;
      }
  }
  input {
    height: 29px;
    background-color: $backgroundMain;
    line-height: 29px;
    width: 100%;
    padding: 2px 10px;
    color: $hackerGreen;
    border: 1px solid #e8e8e8;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

$tragetH: 80px;

.log {
  height: calc(100% - #{$tragetH});
  max-height: calc(100% - #{$tragetH});
  border-bottom: 2px solid #e8e8e8;
  border-right: 2px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  // border-left: 4px solid transparent;
  // border-right: 4px solid transparent;
  > div {
    padding: 0 8px;
    border-bottom: 1px solid #e8e8e8;
  }
  .message{
    color: $stringColor;
    padding: 2px;
    padding-left: 10px;
    
    &.malwindow {
      background-color: rgba(228, 70, 70, 0.308);
    }

    &.selected {
      background-color: rgb(9, 71, 113);;
    }

    &:hover {
      background-color: rgba(9, 71, 113,0.2);;
    }

    span {
      vertical-align: middle;
    }
    .data {
      font-size: 1.1em;
      color: $hackerGreen;
    }
    .type {
      margin-right: 10px;
      color: $varColor;
      font-size: 0.7em;
    }
    .arrow {
      font-size: 1.5em;
      color: $classNameColor;
      line-height: 0;
    }
    .href {
      opacity: 0.7;
      color: $functionNameColor;
      &:hover {
        opacity:1;
        color: $varColor;
      }
    }
  }
}

.targets {
    border-left: 2px solid #e8e8e8;
    // padding-top: 8px;
    border-top: 4px solid $backgroundMain;
    // border-bottom: 8px solid $backgroundMain;
    border-bottom: 1px solid #e8e8e8;
    height: $tragetH;
    max-height: $tragetH;
    color: $functionNameColor;
    direction: rtl;
    background-color: $backgroundMain;
    
    .selected {
      background-color: $bgColor;
    }

    .target-window {
      direction: ltr;
      padding-inline-end: 10px;

    }

    .sent, .separator, .received {
      display: inline-block;
      text-align: center;
    }
    .sent {
      width: 2.5em;
      color: $wordColor;
    }
    .separator{
      color: $coreSyntaxColor;
      width: 1em;
    }
    .received {
      width: 2.5em;
      margin-right: 10px;
      color: $hackerGreen;
    }
    .href {
      font-size: 1.2em;
    }
  }

.window-control-panel {
  border-top: 2px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 8px;
  max-width: 100%;
  max-height: 50%;
  height: calc(100% - 50vh);
  position: relative;
  
  .href {
    font-size: 1.3em;
    height: 2em;
    color: $functionNameColor;

  }
  .iframe {
    display: inline-block;
    width: calc(100% - 125px);
    text-align: center;
    height: calc(100% - 2em - 10px);
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    div {
      width: 100%;
      color: #e8e8e8;
      background-color: #888888;
      box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.75);
      overflow: auto;
      max-height: 100%;
      max-width: 100%;
      iframe {
        width: 100vw;
        overflow: auto;
        height: 100vh;
      }
    }
  }
  .actions 
  {
    vertical-align: top;
    display: inline-block;
    > button {
      width: 55px;
      margin: 3px;
    display: block;
    }
  }
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  opacity: 0.5;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}
